<h1>Order That Burger</h1>

<div id="unEatenContainer">
  {{#each burgers}}
  <div class="existingBurger">
    <p>
      {{this.id}}. {{this.burger_name}}
      <button data-burgerid="{{this.id}}" class="eatBurger">Devour!</button>
    </p>
  </div>
  {{/each}}
</div>

<h2>Add a New Burger</h2>
<form id="addBurger" class="button-size">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">Add the Burger</button>
</form>

<script type="text/javascript">

$("#addBurger").on("click", function(event) {
    event.preventDefault();
    var newBurger = {
        burger_name: $("#addBurger [name=burger]").val().trim();
    };

    $.ajax("/burgers", {
        type: "POST",
        data: newBurger
    }).then(function() {
        console.log("Added a new burger!");
        location.reload();
    });
});






</script>